[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "jeffreysternberg530.io.github"]
	path = jeffreysternberg530.io.github
	url = https://github.com/jeffreysternberg530/jeffreysternberg530.io.github.git
	branch = master
